other xml/chemdiffusionexp2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
  elementFormDefault="qualified" xmlns:ns1="http://www.iupac.org/namespaces/ThermoML">
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="experiment" type="ChemicalDiffusivity"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CatalogNumber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CatalogNumber">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="catalogTitle" type="CatalogTitle"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CatalogTitle  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CatalogTitle">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ChemicalElement  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType xmlns:ns0="http://mdcs.ns" name="ChemicalElement"
    ns0:_mod_mdcs_="/diffusion/periodic-table">
    <xsd:annotation>
      <xsd:documentation>
        <div class="summary">Allowed <tt>ChemicalElementType</tt> values.</div>
        <div class="description">
          <p>Modified from Chemical Markup Language. The periodic table (up to
            element number 118. In addition the following strings are allowed:
          </p> 
        </div>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Ac"/>
      <xsd:enumeration value="Al"/>
      <xsd:enumeration value="Ag"/>
      <xsd:enumeration value="Am"/>
      <xsd:enumeration value="Ar"/>
      <xsd:enumeration value="As"/>
      <xsd:enumeration value="At"/>
      <xsd:enumeration value="Au"/>
      <xsd:enumeration value="B"/>
      <xsd:enumeration value="Ba"/>
      <xsd:enumeration value="Bh"/>
      <xsd:enumeration value="Bi"/>
      <xsd:enumeration value="Be"/>
      <xsd:enumeration value="Bk"/>
      <xsd:enumeration value="Br"/>
      <xsd:enumeration value="C"/>
      <xsd:enumeration value="Ca"/>
      <xsd:enumeration value="Cd"/>
      <xsd:enumeration value="Ce"/>
      <xsd:enumeration value="Cf"/>
      <xsd:enumeration value="Cl"/>
      <xsd:enumeration value="Cm"/>
      <xsd:enumeration value="Co"/>
      <xsd:enumeration value="Cr"/>
      <xsd:enumeration value="Cs"/>
      <xsd:enumeration value="Cu"/>
      <xsd:enumeration value="Db"/>
      <xsd:enumeration value="Dy"/>
      <xsd:enumeration value="Er"/>
      <xsd:enumeration value="Es"/>
      <xsd:enumeration value="Eu"/>
      <xsd:enumeration value="F"/>
      <xsd:enumeration value="Fe"/>
      <xsd:enumeration value="Fm"/>
      <xsd:enumeration value="Fr"/>
      <xsd:enumeration value="Ga"/>
      <xsd:enumeration value="Gd"/>
      <xsd:enumeration value="Ge"/>
      <xsd:enumeration value="H"/>
      <xsd:enumeration value="He"/>
      <xsd:enumeration value="Hf"/>
      <xsd:enumeration value="Hg"/>
      <xsd:enumeration value="Ho"/>
      <xsd:enumeration value="Hs"/>
      <xsd:enumeration value="I"/>
      <xsd:enumeration value="In"/>
      <xsd:enumeration value="Ir"/>
      <xsd:enumeration value="K"/>
      <xsd:enumeration value="Kr"/>
      <xsd:enumeration value="La"/>
      <xsd:enumeration value="Li"/>
      <xsd:enumeration value="Lr"/>
      <xsd:enumeration value="Lu"/>
      <xsd:enumeration value="Md"/>
      <xsd:enumeration value="Mg"/>
      <xsd:enumeration value="Mn"/>
      <xsd:enumeration value="Mo"/>
      <xsd:enumeration value="Mt"/>
      <xsd:enumeration value="N"/>
      <xsd:enumeration value="Na"/>
      <xsd:enumeration value="Nb"/>
      <xsd:enumeration value="Nd"/>
      <xsd:enumeration value="Ne"/>
      <xsd:enumeration value="Ni"/>
      <xsd:enumeration value="No"/>
      <xsd:enumeration value="Np"/>
      <xsd:enumeration value="O"/>
      <xsd:enumeration value="Os"/>
      <xsd:enumeration value="P"/>
      <xsd:enumeration value="Pa"/>
      <xsd:enumeration value="Pb"/>
      <xsd:enumeration value="Pd"/>
      <xsd:enumeration value="Pm"/>
      <xsd:enumeration value="Po"/>
      <xsd:enumeration value="Pr"/>
      <xsd:enumeration value="Pt"/>
      <xsd:enumeration value="Pu"/>
      <xsd:enumeration value="Ra"/>
      <xsd:enumeration value="Rb"/>
      <xsd:enumeration value="Re"/>
      <xsd:enumeration value="Rf"/>
      <xsd:enumeration value="Rh"/>
      <xsd:enumeration value="Rn"/>
      <xsd:enumeration value="Ru"/>
      <xsd:enumeration value="S"/>
      <xsd:enumeration value="Sb"/>
      <xsd:enumeration value="Sc"/>
      <xsd:enumeration value="Se"/>
      <xsd:enumeration value="Sg"/>
      <xsd:enumeration value="Si"/>
      <xsd:enumeration value="Sm"/>
      <xsd:enumeration value="Sn"/>
      <xsd:enumeration value="Sr"/>
      <xsd:enumeration value="Ta"/>
      <xsd:enumeration value="Tb"/>
      <xsd:enumeration value="Tc"/>
      <xsd:enumeration value="Te"/>
      <xsd:enumeration value="Th"/>
      <xsd:enumeration value="Ti"/>
      <xsd:enumeration value="Tl"/>
      <xsd:enumeration value="Tm"/>
      <xsd:enumeration value="U"/>
      <xsd:enumeration value="Uun"/>
      <xsd:enumeration value="Uuu"/>
      <xsd:enumeration value="Uub"/>
      <xsd:enumeration value="Uut"/>
      <xsd:enumeration value="Uuq"/>
      <xsd:enumeration value="Uup"/>
      <xsd:enumeration value="Uuh"/>
      <xsd:enumeration value="Uus"/>
      <xsd:enumeration value="Uuo"/>
      <xsd:enumeration value="V"/>
      <xsd:enumeration value="W"/>
      <xsd:enumeration value="Xe"/>
      <xsd:enumeration value="Y"/>
      <xsd:enumeration value="Yb"/>
      <xsd:enumeration value="Zn"/>
      <xsd:enumeration value="Zr"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ChemicalSubstance  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ChemicalSubstance">
    <xsd:sequence>
      <xsd:element name="chemicalFormula" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="catalogNumber" type="CatalogNumber"/>
      <xsd:element maxOccurs="unbounded" name="elements" type="ChemicalElement"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Citation (Requirement: Either Citation or DOI sufficient, can be both. TODO: Look for citation uml model to develop a schema -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CitationType">
    <xsd:choice>
      <xsd:element name="citation" type="CitationOnlyType"/>
      <xsd:element name="DOI" type="DOIOnlyType"/>
    </xsd:choice>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Citation : Citation Required(Requirement: Either Citation or DOI sufficient, can be both. TODO: Look for citation uml model to develop a schema -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CitationOnlyType">
    <xsd:sequence>
      <xsd:element name="citation" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DOI" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Citation : DOI Required(Requirement: Either Citation or DOI sufficient, can be both. TODO: Look for citation uml model to develop a schema -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DOIOnlyType">
    <xsd:sequence>
      <xsd:element name="DOI" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Comments  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Comments">
    <xsd:sequence>
      <xsd:element name="resultType" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="comment" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Composition  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Composition">
    <xsd:sequence>
      <xsd:element name="quantityUnit" type="ConstituentQuantityUnitType"/>
      <xsd:element name="constituents" type="ConstituentsType"/>
      <xsd:element minOccurs="1" maxOccurs="2" name="materialForm" type="FormOfMatter"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ConstituentType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType xmlns:ns0="http://mdcs.ns" name="ConstituentsType"
    ns0:_mod_mdcs_="/diffusion/periodic-table-multiple">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="constituent" type="ConstituentMaterial"
      />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ConstituentElement  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ConstituentElement">
    <xsd:sequence>
      <xsd:element name="element" type="ChemicalElement"/>
      <xsd:element name="subscript" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ConstituentMaterial  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ConstituentMaterial">
    <xsd:sequence>
      <xsd:element name="element" type="ChemicalElement"/>
      <xsd:element name="quantity" type="xsd:double"/>
      <xsd:element minOccurs="0" name="purity" type="xsd:double"/>
      <xsd:element minOccurs="0" name="error" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CrystalStructure  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CrystalStructure">
    <xsd:sequence>
      <xsd:element name="CrystalLattice" type="crystalLatticeType" minOccurs="0"/>
      <xsd:element minOccurs="0" ref="spaceGroup"/>
      <xsd:element minOccurs="0" ref="wyckoffSequence"/>
      <xsd:element minOccurs="0" ref="prototype"/>
      <xsd:element minOccurs="0" ref="pearsonSymbol"/>
      <xsd:element minOccurs="0" ref="strukturbericht"/>
      <xsd:element minOccurs="0" ref="magneticState"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Data Analysis  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DataAnalysisType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="dataAnalysisMethod"
        type="DataAnalysisMethodType"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="micrographOfStructure" type="ImageType"
      />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Data Analysis : Intrinsic Diffusion -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IntrinsicDataAnalysisType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="dataAnalysisMethod"
        type="IntrinsicDataAnalysisMethodType"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="micrographOfStructure" type="ImageType"
      />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Data Analysis Method :  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DataAnalysisMethodType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="samplePreparation" type="xsd:string"/>
      <xsd:choice>
        <xsd:element name="arrheniusFit" type="ArrheniusFitType"/>
        <xsd:element name="otherEquation" type="xsd:string"/>
      </xsd:choice>

    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Data Analysis Method :  Intrinsic Diffusion Data Analysis Type-->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IntrinsicDataAnalysisMethodType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="samplePreparation" type="xsd:string"/>
      <xsd:choice>
        <xsd:element minOccurs="0" name="kirkendallVelocity" type="KirkendallType"/>
        <xsd:element minOccurs="0" name="vacancyWindFactor" type="xsd:string"/>
        <xsd:element minOccurs="0" name="thermodynamicFactor" type="xsd:string"/>
        <xsd:element name="arrheniusFit" type="ArrheniusFitType"/>
        <xsd:element minOccurs="0" name="otherEquation" type="xsd:string"/>
      </xsd:choice>

    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Data Analysis Method Type : Arrhenius Fit  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ArrheniusFitType">
    <xsd:annotation>
      <xsd:documentation>
        <div class="summary">Arrhenius Fit (D=D0*exp(-Q/RT)</div>
        <div class="description">
          <p>The dependence of the rate constant k of chemical reactions on the temperature T (in absolute temperature kelvin) and where 
            -Q is the pre-exponential factor or simply the prefactor and R is the Universal gas constant.
          </p> 
        </div>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="d0" type="xsd:double"/>
      <xsd:element name="d0Unit" type="UnitOfMeasure"/>
      <xsd:element name="q" type="xsd:double"/>
      <xsd:element name="qUnit" type="UnitOfMeasure"/>
      <xsd:element name="minTemperature" type="TemperatureType"/>
      <xsd:element name="maxTemperature" type="TemperatureType"/>
      <xsd:element name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Data Analysis Method Type : Kirkendall Marker -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="KirkendallType">
    <xsd:annotation>
      <xsd:documentation>
        <div class="summary">Kirkendall</div>
        <div class="description">
          <p>The velocity and distance of interface marker. 
          </p> 
        </div>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="kirkendallMarkerVelocity" type="xsd:double"/>
      <xsd:element name="velocityUnit" type="VelocityUnitType"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>

      <xsd:element name="kirkendallMarkerPlane" type="xsd:double"/>
      <xsd:element name="distanceUnit" type="LengthUnitType"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Datum  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Datum">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:integer"/>
      <xsd:element name="type" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="properties" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="comment" type="xsd:string"/>
      <xsd:element name="measuredParameters" type="MaterialProperty"/>
      <xsd:element maxOccurs="unbounded" name="value" type="Quantity"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Derived Value  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DerivedValueType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="equation" type="xsd:string"/>
      <xsd:element name="value" type="Quantity"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Diffusing Species  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DiffusingSpecies">
    <xsd:sequence>
      <xsd:element name="element" type="ChemicalElement"/>
      <xsd:element minOccurs="0" name="materialPurity" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Diffusivity Experiment  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DiffusivityExperiment">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="experimentType" type="ExperimentType"/>
      <xsd:element maxOccurs="unbounded" name="data" type="Datum"/>
      <xsd:element minOccurs="2" maxOccurs="unbounded" name="materials" type="Materials"/>
      <xsd:element name="id" type="xsd:integer"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="table" type="Table"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Environmental Condition  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="EnvironmentalConditionType">
    <xsd:sequence>
      <xsd:element name="environment" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Experiment  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Experiment">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Experimental Conditions  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ExperimentalConditionsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="measurementConditions"
        type="MeasurementConditionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ExperimentType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ExperimentType">
    <xsd:choice>
      <xsd:element name="tracerDiffusivity" type="TracerDiffusivity"/>
      <xsd:element name="chemicalDiffusivity" type="ChemicalDiffusivity"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Experiment Type: Tracer Diffusivity Experiment  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="TracerDiffusivity">
    <xsd:sequence>

      <xsd:element name="material" type="Material"/>
      <xsd:element name="diffusingSpecies" type="DiffusingSpecies"/>

      <xsd:element minOccurs="1" maxOccurs="1" name="experimentalConditions"
        type="ExperimentalConditionsType"/>

      <xsd:element minOccurs="1" maxOccurs="1" name="samplePreparations"
        type="SamplePreparationType"/>

      <xsd:element minOccurs="1" maxOccurs="1" name="measurement" type="MeasurementType"/>

      <xsd:element minOccurs="0" maxOccurs="unbounded" name="measuredValues"
        type="MeasuredValuesType"/>

      <xsd:element name="dataAnalysis" type="DataAnalysisType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Experiment Type: Intrinsic Diffusivity Experiment  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IntrinsicDiffusivity">
    <xsd:sequence>
      <xsd:element name="startingMaterial" type="Material"/>
      <xsd:element name="material" type="Material"/>

      <xsd:element minOccurs="1" maxOccurs="unbounded" name="interfaceMarkers"
        type="InterfaceMarkerType"/>

      <xsd:element name="experimentalConditions" type="ExperimentalConditionsType"/>

      <xsd:element minOccurs="1" maxOccurs="1" name="samplePreparations"
        type="SamplePreparationType"/>

      <xsd:element minOccurs="1" maxOccurs="unbounded" name="measurement" type="MeasurementType"/>

      <xsd:element name="measuredProperty" type="xsd:string"/>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="measuredValues"
        type="MeasuredValuesType"/>

    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Experiment Type: Chemical Diffusivity Experiment  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ChemicalDiffusivity">
    <xsd:sequence>

      <xsd:element name="SampleID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Id" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SampleOwner" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Date" type="xsd:gMonthDay"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="2" maxOccurs="unbounded" name="material" type="Material"/>

      <xsd:element minOccurs="1" maxOccurs="1" name="experimentalConditions"
        type="ExperimentalConditionsType"/>

      <xsd:element minOccurs="1" maxOccurs="1" name="samplePreparations"
        type="SamplePreparationType"/>

      <xsd:element minOccurs="1" maxOccurs="unbounded" name="measurement" type="MeasurementType"/>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="measuredValues"
        type="MeasuredValuesType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Micrograph" type="remote-file-type"/>
      <xsd:element name="Reference" type="citation-type"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  FormOfMatter  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="FormOfMatter">
    <xsd:choice>
      <xsd:element name="singleCrystalline" type="SingleCrystallineType"/>
      <xsd:element name="polycrystalline" type="PolyCrystallineType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  FormOfMatter:Polycrystalline -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PolyCrystallineType">
    <xsd:sequence>
      <xsd:element name="averageGrainSize" type="xsd:double"/>
      <xsd:element name="length" type="LengthUnitType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  FormOfMatter: Single Crystalline  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SingleCrystallineType"> </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Image  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ImageType">
    <xsd:sequence>
      <xsd:element name="fileExtension" type="xsd:string"/>
      <xsd:element name="reference" type="xsd:anyURI"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Interface Marker Type  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="InterfaceMarkerType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="interfaceMarker"
        type="MaterialCompound"/>

    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Material  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Material">
    <xsd:sequence>
      <xsd:element name="materialName" type="xsd:string" minOccurs="0"/>
      <xsd:element minOccurs="0" name="NominalAlloyComposition" type="Composition"/>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="phase" type="Phase"/>
      <xsd:element ref="AlloyProcessing" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Material Compound -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MaterialCompound">
    <xsd:sequence>
      <xsd:element name="materialName" type="xsd:string"/>
      <xsd:element name="phase" type="Phase"/>
      <xsd:element name="molecularFormula" type="MolecularFormula"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MaterialProperty  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MaterialProperty">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Materials  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Materials">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="material" type="Material"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measured Value  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MeasuredValueType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="dataPoint" type="Point"/>
        <xsd:element name="profile" type="Profile"/>
        <xsd:element name="datafile" type="remote-file-type"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measured Values  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MeasuredValuesType">
    <xsd:sequence>
      <xsd:element name="measurementDescription" type="xsd:string"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="value" type="MeasuredValueType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Condition  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MeasurementConditionType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="time" type="TimeType"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="temperature" type="TemperatureType"/>
      <xsd:element minOccurs="0" ref="quenching"/>
      <xsd:element minOccurs="0" ref="atmosphere"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MeasurementType">
    <xsd:sequence>
      <xsd:element name="type" type="xsd:string"/>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="experimentalMethod"
        type="ExperimentalMethodType"/>
      <xsd:element name="dataCollectionMethod" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Direct Method  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DirectMethodType">
    <xsd:choice>
      <xsd:element name="EPMA" type="ElectronProbeMicroAnalysisType"/>
      <xsd:element name="SIMS" type="SecondaryIonMassSpectroscopyType"/>
      <xsd:element name="RBS" type="RutherfordBackscatteringMethodsType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Direct Method: EPMA  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ElectronProbeMicroAnalysisType">
    <xsd:sequence>
      <xsd:element name="EPMAInstrumentBrand" type="xsd:string"/>
      <xsd:element name="beamEnergy" type="xsd:double" minOccurs="0"/>
      <xsd:element name="beamEnergyUnit" type="EnergyUnitType" minOccurs="0"/>
      <xsd:element name="probeSize" type="xsd:double" minOccurs="0"/>
      <xsd:element name="probeSizeUnit" type="LengthUnitType" minOccurs="0"/>
      <xsd:element name="correctionMethod" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Direct Method: RBS  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RutherfordBackscatteringMethodsType">
    <xsd:sequence>
      <xsd:element name="RBSInstrument" type="xsd:string"/>
      <xsd:element name="InstrumentNote" type="note-type" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Direct Method: SIMS  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SecondaryIonMassSpectroscopyType">
    <xsd:sequence>
      <xsd:element name="simsInstrument" type="xsd:string"/>
      <xsd:element name="primaryBeamSource" type="xsd:string" minOccurs="0"/>
      <xsd:element name="energy" type="xsd:double" minOccurs="0"/>
      <xsd:element name="energyUnit" type="EnergyUnitType" minOccurs="0"/>
      <xsd:element name="rasterArea" type="xsd:double" minOccurs="0"/>
      <xsd:element name="rasterAreaUnit" type="LengthUnitType" minOccurs="0"/>
      <xsd:element name="detectionArea" type="xsd:double" minOccurs="0"/>
      <xsd:element name="detectionAreaUnit" type="LengthUnitType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Indirect Method  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IndirectMethodType">
    <xsd:choice>
      <xsd:element name="nuclearMethods" type="NuclearMethodsType"/>
      <xsd:element name="mechanicalSpectroscopy" type="MechanicalSpectroscopyType"/>
      <xsd:element name="electricalMethods" type="ElectricalMethodsType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Indirect Method: Nuclear Methods  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="NuclearMethodsType">
    <xsd:sequence>
      <xsd:element name="instrument" type="xsd:string"/>
      <xsd:element name="InstrumentNote" type="note-type" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Indirect Method: Mechanical Spectroscopy  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MechanicalSpectroscopyType">
    <xsd:sequence>
      <xsd:element name="instrument" type="xsd:string"/>
      <xsd:element name="InstrumentNote" type="note-type" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Indirect Method: Electrical Methods  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ElectricalMethodsType">
    <xsd:sequence>
      <xsd:element name="InstrumentNote" type="note-type"/>
      <xsd:element name="instrument" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Radiotracer Methods  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RadiotracerType">
    <xsd:choice>
      <xsd:element name="serialSectioning" type="SerialSectioningType"/>
      <xsd:element name="gruzinMethod" type="ResidualActivityMethodType"/>
      <xsd:element name="surfaceActivityDecreaseMethod" type="SurfaceActivityDecreaseMethodType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Radiotracer Method: Serial Sectioning Methods  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SerialSectioningType">
    <xsd:choice>
      <xsd:element name="macroSectioning" type="MacroSectioningType"/>
      <xsd:element name="microSectioning" type="MicroSectioningType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Radiotracer Method: Serial Sectioning Methods : Macro-Sectioning  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MacroSectioningType">
    <xsd:sequence>
      <xsd:element name="instrument" type="xsd:string"/>
      <xsd:element ref="InstrumentNote" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Radiotracer Method: Serial Sectioning Methods : Micro-Sectioning  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MicroSectioningType">
    <xsd:sequence>
      <xsd:element name="instrument" type="xsd:string"/>
      <xsd:element ref="InstrumentNote" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Radiotracer Method: Residual Activity Method  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResidualActivityMethodType">
    <xsd:sequence>
      <xsd:element name="instrument" type="xsd:string"/>
      <xsd:element ref="InstrumentNote" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type: Radiotracer Method: Surface Activity Decrease Method  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SurfaceActivityDecreaseMethodType">
    <xsd:sequence>
      <xsd:element name="instrument" type="xsd:string"/>
      <xsd:element ref="InstrumentNote" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Measurement Type Method  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ExperimentalMethodType">
    <xsd:choice>
      <xsd:element minOccurs="1" maxOccurs="1" name="direct" type="DirectMethodType"/>
      <xsd:element minOccurs="1" maxOccurs="1" name="indirect" type="IndirectMethodType"/>
      <xsd:element minOccurs="1" maxOccurs="1" name="radiotracer" type="RadiotracerType"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Molecular Formula  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MolecularFormula">
    <xsd:choice>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="element" type="ConstituentElement"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Phase  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Phase">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="crystalStructure" type="CrystalStructure" minOccurs="0"/>
      <xsd:element name="Composition" type="Composition"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Phases  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Phases">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="temperature" type="Quantity"/>
      <xsd:element maxOccurs="unbounded" name="phase" type="Phase"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Procedures  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ProcedureType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="procedureName" type="xsd:string"/>
      <xsd:element minOccurs="1" maxOccurs="1" name="procedureDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Point  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Point">
    <xsd:sequence>
      <xsd:element name="sampleID" type="xsd:string"/>

      <xsd:element name="x" type="xsd:double"/>
      <xsd:element name="y" type="xsd:double"/>

      <xsd:element name="xUnit" type="UnitOfMeasure"/>
      <xsd:element name="yUnit" type="UnitOfMeasure"/>

    </xsd:sequence>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Profile  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Profile">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="table" type="Table"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Profile:Gradient  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Gradient">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="value" type="Quantity"/>
      <xsd:element name="unit" type="UnitOfMeasure"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Profile:Series  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Series">
    <xsd:sequence>
      <xsd:element name="xLabel" type="xsd:string"/>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="value" type="Quantity"/>
      <xsd:element name="xUnit" type="UnitOfMeasure"/>
      <xsd:element name="yLabel" type="xsd:string"/>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="value" type="Quantity"/>
      <xsd:element name="yUnit" type="UnitOfMeasure"/>
      <xsd:element name="numberOfDataPoints" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Quantity  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Quantity">
    <xsd:sequence>
      <xsd:element name="sampleID" type="xsd:string"/>
      <xsd:element name="value" type="xsd:double"/>
      <xsd:element minOccurs="0" name="uncertainty" type="Uncertainty"/>
      <xsd:element name="unit" type="UnitOfMeasure"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Sample Preparation Type -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SamplePreparationType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="sampleGeometry" type="SampleGeometryType"/>
      <xsd:element maxOccurs="unbounded" name="samplePreparationProcedure" type="ProcedureType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Sample Geometry -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SampleGeometryType">
    <xsd:sequence>
      <xsd:element minOccurs="2" maxOccurs="unbounded" name="geometry" type="MaterialGeometryType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Matrial Geometry -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MaterialGeometryType">
    <xsd:sequence>
      <xsd:element name="MaterialName" type="xsd:string"/>
      <xsd:element name="geometry" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SpaceGroup  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- Table -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType xmlns:ns0="http://mdcs.ns" name="Table" ns0:_mod_mdcs_="/diffusion/upload-excel">
    <xsd:sequence>
      <xsd:element name="headers" type="Headers"/>
      <xsd:element name="rows" type="Rows"/>
    </xsd:sequence>
    <xsd:attribute type="xsd:string" name="name" use="optional"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- Headers -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Headers">
    <xsd:sequence>
      <xsd:element name="column" type="Column" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- Rows -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Rows">
    <xsd:sequence>
      <xsd:element name="row" type="Row" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- Row -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Row">
    <xsd:sequence>
      <xsd:element name="column" type="Column" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute type="xsd:string" name="id" use="required"/>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- Column -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Column">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute type="xsd:string" name="id" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Temperature  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="TemperatureType">
    <xsd:sequence>
      <xsd:element name="temperature" type="xsd:float"/>
      <xsd:element name="unit" type="TemperatureUnitType"/>
      <xsd:element minOccurs="0" name="uncertainty" type="Uncertainty"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Time  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="TimeType">
    <xsd:sequence>
      <xsd:element name="duration" type="xsd:double"/>
      <xsd:element name="unit" type="TimeUnitType"/>
      <xsd:element minOccurs="0" name="uncertainty" type="Uncertainty"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Uncertainty  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Uncertainty">
    <xsd:sequence>
      <xsd:element name="type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="amount"/>
            <xsd:enumeration value="fraction"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="value" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Unit: Chemical Constituent Quantity Unit  TODO Integrate UnitsML -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="ConstituentQuantityUnitType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="mass fraction"/>
      <xsd:enumeration value="mass percent"/>
      <xsd:enumeration value="mole fraction"/>
      <xsd:enumeration value="mole percent"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Unit: Energy Unit  TODO Integrate UnitsML -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="EnergyUnitType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="megavolts"/>
      <xsd:enumeration value="kilovolts"/>
      <xsd:enumeration value="volts"/>
      <xsd:enumeration value="millivolts"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Unit: Length Unit  TODO Integrate UnitsML -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="LengthUnitType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="millimeter"/>
      <xsd:enumeration value="micrometer"/>
      <xsd:enumeration value="picometer"/>
      <xsd:enumeration value="meter"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Unit: Temperature Unit  TODO Integrate UnitsML -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="TemperatureUnitType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Kelvin"/>
      <xsd:enumeration value="Celsius"/>
      <xsd:enumeration value="Fahrenheit"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Unit: Time Unit TODO Integrate UnitsML  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="TimeUnitType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="years"/>
      <xsd:enumeration value="days"/>
      <xsd:enumeration value="hours"/>
      <xsd:enumeration value="minutes"/>
      <xsd:enumeration value="seconds"/>
      <xsd:enumeration value="milliseconds"/>
      <xsd:enumeration value="microseconds"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Unit: Velocity Unit TODO Integrate UnitsML  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="VelocityUnitType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="m/s"/>
      <xsd:enumeration value="mm/s"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  UnitOfMeasure  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="UnitOfMeasure">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="unitOfMeasureType" type="UnitOfMeasureType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  UnitOfMeasureType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="UnitOfMeasureType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  WyckoffSequence  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:element name="quenching">
    <xsd:annotation>
      <xsd:documentation>Quenching</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value=""/>
        <xsd:enumeration value="Ice Quenching"/>
        <xsd:enumeration value="Liquid Nitrogen Quenching"/>
        <xsd:enumeration value="Oil Quenching"/>
        <xsd:enumeration value="Water Quenching"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="AlloyProcessing">
    <xsd:annotation>
      <xsd:documentation>Preparation</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="0">
        <xsd:element name="chemical">
          <xsd:annotation>
            <xsd:documentation>Chemical</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value=""/>
              <xsd:enumeration value="Cleaning"/>
              <xsd:enumeration value="Etching"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="depositionProcessing">
          <xsd:annotation>
            <xsd:documentation>Deposition Processing</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value=""/>
              <xsd:enumeration value="Sputter Depositing"/>
              <xsd:enumeration value="Chemical Vapor Depositing"/>
              <xsd:enumeration value="Electrodeposition"/>
              <xsd:enumeration value="Ion Beam Depositing"/>
              <xsd:enumeration value="Physical Vapor Depositing"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="meltingCasting">
          <xsd:annotation>
            <xsd:documentation>Melting &amp; Casting</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value=""/>
              <xsd:enumeration value="Arc Melting"/>
              <xsd:enumeration value="Casting"/>
              <xsd:enumeration value="Induction Melting"/>
              <xsd:enumeration value="Radiation/Furnace Melting"/>
              <xsd:enumeration value="Vacuum Degassing"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="modifiedSolidification">
          <xsd:annotation>
            <xsd:documentation>Modified Solidification</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value=""/>
              <xsd:enumeration value="Seeded Solidification"/>
              <xsd:enumeration value="Directional Solidification"/>
              <xsd:enumeration value="Single Crystal Solidification"/>
              <xsd:enumeration value="Zone Refining"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="powder">
          <xsd:annotation>
            <xsd:documentation>Powder</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value=""/>
              <xsd:enumeration value="Atomization Processing"/>
              <xsd:enumeration value="Chemical Reducing"/>
              <xsd:enumeration value="Electrolysis  Processing"/>
              <xsd:enumeration value="Mechanical Crushing"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="rapidHeating">
          <xsd:annotation>
            <xsd:documentation>Rapid Heating</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value=""/>
              <xsd:enumeration value="Electron Beam Processing"/>
              <xsd:enumeration value="Laser Processing"/>
              <xsd:enumeration value="Microwave Processing"/>
              <xsd:enumeration value="Resistive Heating"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="citation-type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="document-type">
        <xsd:annotation>
          <xsd:documentation>The type of publication</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="book"/>
            <xsd:enumeration value="journal"/>
            <xsd:enumeration value="report"/>
            <xsd:enumeration value="patent"/>
            <xsd:enumeration value="thesis"/>
            <xsd:enumeration value="conference proceedings"/>
            <xsd:enumeration value="archived document"/>
            <xsd:enumeration value="personal correspondence"/>
            <xsd:enumeration value="published translation"/>
            <xsd:enumeration value="unspecified"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="title" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Title of the publication</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="author">
        <xsd:annotation>
          <xsd:documentation>Author of publication</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="given-name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="surname" type="xsd:string"/>
            <xsd:element minOccurs="0" name="suffix" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="affiliation" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ORCID" type="xsd:string"/>

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="publication-name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="publication-date">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="year" type="xsd:gYear"/>
            <xsd:element minOccurs="0" name="month" type="xsd:gMonth"/>
            <xsd:element minOccurs="0" name="day" type="xsd:gDay"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="volume" type="xsd:string"/>
      <xsd:element minOccurs="0" name="issue" type="xsd:string"/>
      <xsd:element minOccurs="0" name="abstract" type="xsd:string"/>
      <xsd:element minOccurs="0" name="pages" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DOI" type="xsd:string"/>
      <xsd:element minOccurs="0" name="URL" type="xsd:anyURI"/>
      <xsd:element minOccurs="0" name="bibtex" type="xsd:string"/>
      <xsd:element minOccurs="0" name="text-bibliography" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="remote-file-type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="type" type="xsd:string"/>
      <xsd:element minOccurs="0" name="downloadURL" type="xsd:anyURI"/>
      <xsd:element minOccurs="0" name="accessURL" type="xsd:anyURI"/>
      <xsd:element minOccurs="0" name="local" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="crystalLatticeType">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Cubic"/>
      <xsd:enumeration value="Tetragonal"/>
      <xsd:enumeration value="Hexagonal"/>
      <xsd:enumeration value="Rhombohedral"/>
      <xsd:enumeration value="Orthorhombic"/>
      <xsd:enumeration value="Monoclinic"/>
      <xsd:enumeration value="Triclinic"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="spaceGroup" type="SpaceGroup"> </xsd:element>
  <xsd:element name="strukturbericht">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="A1"/>
        <xsd:enumeration value="A10"/>
        <xsd:enumeration value="A11"/>
        <xsd:enumeration value="A12"/>
        <xsd:enumeration value="A13"/>
        <xsd:enumeration value="A14"/>
        <xsd:enumeration value="A15"/>
        <xsd:enumeration value="A16"/>
        <xsd:enumeration value="A17"/>
        <xsd:enumeration value="A2"/>
        <xsd:enumeration value="A20"/>
        <xsd:enumeration value="A3"/>
        <xsd:enumeration value="A3 prime"/>
        <xsd:enumeration value="A4"/>
        <xsd:enumeration value="A5"/>
        <xsd:enumeration value="A6"/>
        <xsd:enumeration value="A7"/>
        <xsd:enumeration value="A8"/>
        <xsd:enumeration value="A9"/>
        <xsd:enumeration value="Aa"/>
        <xsd:enumeration value="Ab"/>
        <xsd:enumeration value="Ac"/>
        <xsd:enumeration value="Ad"/>
        <xsd:enumeration value="Af"/>
        <xsd:enumeration value="Ag"/>
        <xsd:enumeration value="Ah"/>
        <xsd:enumeration value="Ai"/>
        <xsd:enumeration value="Ak"/>
        <xsd:enumeration value="Al"/>
        <xsd:enumeration value="B1"/>
        <xsd:enumeration value="B10"/>
        <xsd:enumeration value="B11"/>
        <xsd:enumeration value="B13"/>
        <xsd:enumeration value="B16"/>
        <xsd:enumeration value="B17"/>
        <xsd:enumeration value="B18"/>
        <xsd:enumeration value="B19"/>
        <xsd:enumeration value="B2"/>
        <xsd:enumeration value="B20"/>
        <xsd:enumeration value="B26"/>
        <xsd:enumeration value="B27"/>
        <xsd:enumeration value="B29"/>
        <xsd:enumeration value="B3"/>
        <xsd:enumeration value="B31"/>
        <xsd:enumeration value="B32"/>
        <xsd:enumeration value="B33 (=Bf)"/>
        <xsd:enumeration value="B34"/>
        <xsd:enumeration value="B35"/>
        <xsd:enumeration value="B37"/>
        <xsd:enumeration value="B4"/>
        <xsd:enumeration value="B81"/>
        <xsd:enumeration value="B82"/>
        <xsd:enumeration value="B9"/>
        <xsd:enumeration value="Ba"/>
        <xsd:enumeration value="Bb"/>
        <xsd:enumeration value="Bc"/>
        <xsd:enumeration value="Bd"/>
        <xsd:enumeration value="Be"/>
        <xsd:enumeration value="Bf (=B33)"/>
        <xsd:enumeration value="Bg"/>
        <xsd:enumeration value="Bh"/>
        <xsd:enumeration value="Bj"/>
        <xsd:enumeration value="Bk"/>
        <xsd:enumeration value="Bl"/>
        <xsd:enumeration value="Bm"/>
        <xsd:enumeration value="C1"/>
        <xsd:enumeration value="C10"/>
        <xsd:enumeration value="C11a"/>
        <xsd:enumeration value="C11b"/>
        <xsd:enumeration value="C12"/>
        <xsd:enumeration value="C14"/>
        <xsd:enumeration value="C15"/>
        <xsd:enumeration value="C15b"/>
        <xsd:enumeration value="C16"/>
        <xsd:enumeration value="C18"/>
        <xsd:enumeration value="C19"/>
        <xsd:enumeration value="C1b"/>
        <xsd:enumeration value="C2"/>
        <xsd:enumeration value="C21"/>
        <xsd:enumeration value="C22"/>
        <xsd:enumeration value="C23"/>
        <xsd:enumeration value="C28"/>
        <xsd:enumeration value="C3"/>
        <xsd:enumeration value="C32"/>
        <xsd:enumeration value="C33"/>
        <xsd:enumeration value="C34"/>
        <xsd:enumeration value="C35"/>
        <xsd:enumeration value="C36"/>
        <xsd:enumeration value="C37"/>
        <xsd:enumeration value="C38"/>
        <xsd:enumeration value="C4"/>
        <xsd:enumeration value="C40"/>
        <xsd:enumeration value="C42"/>
        <xsd:enumeration value="C43"/>
        <xsd:enumeration value="C44"/>
        <xsd:enumeration value="C46"/>
        <xsd:enumeration value="C49"/>
        <xsd:enumeration value="C54"/>
        <xsd:enumeration value="C6"/>
        <xsd:enumeration value="C7"/>
        <xsd:enumeration value="C8"/>
        <xsd:enumeration value="C9"/>
        <xsd:enumeration value="Ca"/>
        <xsd:enumeration value="Cb"/>
        <xsd:enumeration value="Cc"/>
        <xsd:enumeration value="Ce"/>
        <xsd:enumeration value="Cg"/>
        <xsd:enumeration value="Ch"/>
        <xsd:enumeration value="Ck"/>
        <xsd:enumeration value="D011"/>
        <xsd:enumeration value="D017"/>
        <xsd:enumeration value="D018"/>
        <xsd:enumeration value="D019"/>
        <xsd:enumeration value="D02"/>
        <xsd:enumeration value="D020"/>
        <xsd:enumeration value="D021"/>
        <xsd:enumeration value="D022"/>
        <xsd:enumeration value="D023"/>
        <xsd:enumeration value="D024"/>
        <xsd:enumeration value="D03"/>
        <xsd:enumeration value="D09"/>
        <xsd:enumeration value="D0a"/>
        <xsd:enumeration value="D0c"/>
        <xsd:enumeration value="D0c prime"/>
        <xsd:enumeration value="D0d"/>
        <xsd:enumeration value="D0e"/>
        <xsd:enumeration value="D101"/>
        <xsd:enumeration value="D102"/>
        <xsd:enumeration value="D13"/>
        <xsd:enumeration value="D1a"/>
        <xsd:enumeration value="D1b"/>
        <xsd:enumeration value="D1c"/>
        <xsd:enumeration value="D1d"/>
        <xsd:enumeration value="D1e"/>
        <xsd:enumeration value="D1f"/>
        <xsd:enumeration value="D1g"/>
        <xsd:enumeration value="D21"/>
        <xsd:enumeration value="D23"/>
        <xsd:enumeration value="D2b"/>
        <xsd:enumeration value="D2c"/>
        <xsd:enumeration value="D2d"/>
        <xsd:enumeration value="D2e"/>
        <xsd:enumeration value="D2f"/>
        <xsd:enumeration value="D2g"/>
        <xsd:enumeration value="D2h"/>
        <xsd:enumeration value="D51"/>
        <xsd:enumeration value="D510"/>
        <xsd:enumeration value="D511"/>
        <xsd:enumeration value="D513"/>
        <xsd:enumeration value="D52"/>
        <xsd:enumeration value="D53"/>
        <xsd:enumeration value="D54"/>
        <xsd:enumeration value="D58"/>
        <xsd:enumeration value="D59"/>
        <xsd:enumeration value="D5a"/>
        <xsd:enumeration value="D5b"/>
        <xsd:enumeration value="D5c"/>
        <xsd:enumeration value="D5e"/>
        <xsd:enumeration value="D5f"/>
        <xsd:enumeration value="D71"/>
        <xsd:enumeration value="D72"/>
        <xsd:enumeration value="D73"/>
        <xsd:enumeration value="D7a"/>
        <xsd:enumeration value="D7b"/>
        <xsd:enumeration value="D81"/>
        <xsd:enumeration value="D810"/>
        <xsd:enumeration value="D811"/>
        <xsd:enumeration value="D82"/>
        <xsd:enumeration value="D83"/>
        <xsd:enumeration value="D84"/>
        <xsd:enumeration value="D85"/>
        <xsd:enumeration value="D86"/>
        <xsd:enumeration value="D88"/>
        <xsd:enumeration value="D89"/>
        <xsd:enumeration value="D8a"/>
        <xsd:enumeration value="D8b"/>
        <xsd:enumeration value="D8c"/>
        <xsd:enumeration value="D8d"/>
        <xsd:enumeration value="D8e"/>
        <xsd:enumeration value="D8f"/>
        <xsd:enumeration value="D8g"/>
        <xsd:enumeration value="D8h"/>
        <xsd:enumeration value="D8i"/>
        <xsd:enumeration value="D8k"/>
        <xsd:enumeration value="D8l"/>
        <xsd:enumeration value="D8m"/>
        <xsd:enumeration value="E01"/>
        <xsd:enumeration value="E07"/>
        <xsd:enumeration value="E1b"/>
        <xsd:enumeration value="E21"/>
        <xsd:enumeration value="E3"/>
        <xsd:enumeration value="E93"/>
        <xsd:enumeration value="E94"/>
        <xsd:enumeration value="E9a"/>
        <xsd:enumeration value="E9b"/>
        <xsd:enumeration value="E9c"/>
        <xsd:enumeration value="E9d"/>
        <xsd:enumeration value="E9e"/>
        <xsd:enumeration value="El1"/>
        <xsd:enumeration value="Ela"/>
        <xsd:enumeration value="F01"/>
        <xsd:enumeration value="F51"/>
        <xsd:enumeration value="F56"/>
        <xsd:enumeration value="F5a"/>
        <xsd:enumeration value="H11"/>
        <xsd:enumeration value="H24"/>
        <xsd:enumeration value="H26"/>
        <xsd:enumeration value="L1 prime"/>
        <xsd:enumeration value="L10"/>
        <xsd:enumeration value="L10(M)"/>
        <xsd:enumeration value="L11"/>
        <xsd:enumeration value="L12 prime"/>
        <xsd:enumeration value="L1a"/>
        <xsd:enumeration value="L21"/>
        <xsd:enumeration value="L22"/>
        <xsd:enumeration value="L2a"/>
        <xsd:enumeration value="L2b prime"/>
        <xsd:enumeration value="L3 prime"/>
        <xsd:enumeration value="L60"/>
        <xsd:enumeration value="Ll2"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="pearsonSymbol">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="cF112"/>
        <xsd:enumeration value="cF116"/>
        <xsd:enumeration value="cF12"/>
        <xsd:enumeration value="cF16"/>
        <xsd:enumeration value="cF1832"/>
        <xsd:enumeration value="cF24"/>
        <xsd:enumeration value="cF32"/>
        <xsd:enumeration value="cF4"/>
        <xsd:enumeration value="cF52"/>
        <xsd:enumeration value="cF56"/>
        <xsd:enumeration value="cF68"/>
        <xsd:enumeration value="cF8"/>
        <xsd:enumeration value="cF80"/>
        <xsd:enumeration value="cI16"/>
        <xsd:enumeration value="cI162"/>
        <xsd:enumeration value="cI2"/>
        <xsd:enumeration value="cI28"/>
        <xsd:enumeration value="cI32"/>
        <xsd:enumeration value="cI40"/>
        <xsd:enumeration value="cI52"/>
        <xsd:enumeration value="cI54"/>
        <xsd:enumeration value="cI58"/>
        <xsd:enumeration value="cI76"/>
        <xsd:enumeration value="cI80"/>
        <xsd:enumeration value="cI96"/>
        <xsd:enumeration value="cP1"/>
        <xsd:enumeration value="cP12"/>
        <xsd:enumeration value="cP2"/>
        <xsd:enumeration value="cP20"/>
        <xsd:enumeration value="cP36"/>
        <xsd:enumeration value="cP39"/>
        <xsd:enumeration value="cP4"/>
        <xsd:enumeration value="cP5"/>
        <xsd:enumeration value="cP52"/>
        <xsd:enumeration value="cP6"/>
        <xsd:enumeration value="cP7"/>
        <xsd:enumeration value="cP8"/>
        <xsd:enumeration value="hP1"/>
        <xsd:enumeration value="hP10"/>
        <xsd:enumeration value="hP12"/>
        <xsd:enumeration value="hP14"/>
        <xsd:enumeration value="hP16"/>
        <xsd:enumeration value="hP18"/>
        <xsd:enumeration value="hP2"/>
        <xsd:enumeration value="hP20"/>
        <xsd:enumeration value="hP24"/>
        <xsd:enumeration value="hP26"/>
        <xsd:enumeration value="hP28"/>
        <xsd:enumeration value="hP3"/>
        <xsd:enumeration value="hP38"/>
        <xsd:enumeration value="hP4"/>
        <xsd:enumeration value="hP5"/>
        <xsd:enumeration value="hP6"/>
        <xsd:enumeration value="hP8"/>
        <xsd:enumeration value="hP9"/>
        <xsd:enumeration value="hR1"/>
        <xsd:enumeration value="hR10"/>
        <xsd:enumeration value="hR13"/>
        <xsd:enumeration value="hR15"/>
        <xsd:enumeration value="hR22"/>
        <xsd:enumeration value="hR26"/>
        <xsd:enumeration value="hR3"/>
        <xsd:enumeration value="hR32"/>
        <xsd:enumeration value="hR4"/>
        <xsd:enumeration value="hR5"/>
        <xsd:enumeration value="hR53"/>
        <xsd:enumeration value="hR6"/>
        <xsd:enumeration value="hR7"/>
        <xsd:enumeration value="mC12"/>
        <xsd:enumeration value="mC14"/>
        <xsd:enumeration value="mC16"/>
        <xsd:enumeration value="mC6"/>
        <xsd:enumeration value="mC8"/>
        <xsd:enumeration value="mP12"/>
        <xsd:enumeration value="mP20"/>
        <xsd:enumeration value="mP22"/>
        <xsd:enumeration value="mP24"/>
        <xsd:enumeration value="mP32"/>
        <xsd:enumeration value="mP64"/>
        <xsd:enumeration value="oC12"/>
        <xsd:enumeration value="oC20"/>
        <xsd:enumeration value="oC24"/>
        <xsd:enumeration value="oC28"/>
        <xsd:enumeration value="oC4"/>
        <xsd:enumeration value="oC8"/>
        <xsd:enumeration value="oCl6"/>
        <xsd:enumeration value="oF128"/>
        <xsd:enumeration value="oF24"/>
        <xsd:enumeration value="oF40"/>
        <xsd:enumeration value="oF48"/>
        <xsd:enumeration value="oF72"/>
        <xsd:enumeration value="oI12"/>
        <xsd:enumeration value="oI14"/>
        <xsd:enumeration value="oI20"/>
        <xsd:enumeration value="oI28"/>
        <xsd:enumeration value="oI338"/>
        <xsd:enumeration value="oI40"/>
        <xsd:enumeration value="oP12"/>
        <xsd:enumeration value="oP16"/>
        <xsd:enumeration value="oP20"/>
        <xsd:enumeration value="oP24"/>
        <xsd:enumeration value="oP4"/>
        <xsd:enumeration value="oP40"/>
        <xsd:enumeration value="oP6"/>
        <xsd:enumeration value="oP8"/>
        <xsd:enumeration value="t16"/>
        <xsd:enumeration value="tI10"/>
        <xsd:enumeration value="tI12"/>
        <xsd:enumeration value="tI14"/>
        <xsd:enumeration value="tI16"/>
        <xsd:enumeration value="tI18"/>
        <xsd:enumeration value="tI2"/>
        <xsd:enumeration value="tI26"/>
        <xsd:enumeration value="tI28"/>
        <xsd:enumeration value="tI32"/>
        <xsd:enumeration value="tI4"/>
        <xsd:enumeration value="tI6"/>
        <xsd:enumeration value="tI8"/>
        <xsd:enumeration value="tI92"/>
        <xsd:enumeration value="tP10"/>
        <xsd:enumeration value="tP16"/>
        <xsd:enumeration value="tP2"/>
        <xsd:enumeration value="tP20"/>
        <xsd:enumeration value="tP30"/>
        <xsd:enumeration value="tP4"/>
        <xsd:enumeration value="tP40"/>
        <xsd:enumeration value="tP50"/>
        <xsd:enumeration value="tP6"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="prototype">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="A14C3"/>
        <xsd:enumeration value="AI3Ni"/>
        <xsd:enumeration value="AI3Zr"/>
        <xsd:enumeration value="AI4Ba"/>
        <xsd:enumeration value="AI4U"/>
        <xsd:enumeration value="AI6Mn"/>
        <xsd:enumeration value="AICu2Mn (Heusler)"/>
        <xsd:enumeration value="AIFe3C (perovskite)"/>
        <xsd:enumeration value="Ag2O"/>
        <xsd:enumeration value="AgAuTe4 (sylvanite)"/>
        <xsd:enumeration value="Al2CdS4"/>
        <xsd:enumeration value="Al2Cu"/>
        <xsd:enumeration value="Al2MgO4 (spinel)"/>
        <xsd:enumeration value="Al3Mg2"/>
        <xsd:enumeration value="Al3Ti"/>
        <xsd:enumeration value="Al4C4Si"/>
        <xsd:enumeration value="Al7Cu2Fe"/>
        <xsd:enumeration value="Al8FeMg3Si6"/>
        <xsd:enumeration value="AlB2"/>
        <xsd:enumeration value="AlLi3N2"/>
        <xsd:enumeration value="As2S3"/>
        <xsd:enumeration value="AsMn3"/>
        <xsd:enumeration value="AsS (realgar)"/>
        <xsd:enumeration value="AuBe5"/>
        <xsd:enumeration value="AuCd"/>
        <xsd:enumeration value="AuCu"/>
        <xsd:enumeration value="AuCu3"/>
        <xsd:enumeration value="AuCull"/>
        <xsd:enumeration value="AuTe2 (calaverite)"/>
        <xsd:enumeration value="AuTe2 (krennerite)"/>
        <xsd:enumeration value="B4C"/>
        <xsd:enumeration value="B4Th"/>
        <xsd:enumeration value="BN"/>
        <xsd:enumeration value="BaHg11"/>
        <xsd:enumeration value="BaS3"/>
        <xsd:enumeration value="Bi2Te3"/>
        <xsd:enumeration value="BiF3, AIFe3"/>
        <xsd:enumeration value="C (graphite)"/>
        <xsd:enumeration value="C(diamond)"/>
        <xsd:enumeration value="CaB6"/>
        <xsd:enumeration value="CaC2"/>
        <xsd:enumeration value="CaCl2"/>
        <xsd:enumeration value="CaCu5"/>
        <xsd:enumeration value="CaF2 (fluorite)"/>
        <xsd:enumeration value="CaSi"/>
        <xsd:enumeration value="CaSi2"/>
        <xsd:enumeration value="CaTiO3 (perovskite)"/>
        <xsd:enumeration value="CdI2"/>
        <xsd:enumeration value="CdSb"/>
        <xsd:enumeration value="Ce2Mg12"/>
        <xsd:enumeration value="Ce5Mg41"/>
        <xsd:enumeration value="Co2Al5"/>
        <xsd:enumeration value="Co2Al9"/>
        <xsd:enumeration value="Co2Si"/>
        <xsd:enumeration value="Co2Si, NiSiTi (E-phase)"/>
        <xsd:enumeration value="Co3S4"/>
        <xsd:enumeration value="Co5Cr2Mo3"/>
        <xsd:enumeration value="Co9S8"/>
        <xsd:enumeration value="CoAs3 (skutterudite)"/>
        <xsd:enumeration value="CoSn"/>
        <xsd:enumeration value="CoU"/>
        <xsd:enumeration value="Cr23C6"/>
        <xsd:enumeration value="Cr3C2"/>
        <xsd:enumeration value="Cr3Si (beta-W)"/>
        <xsd:enumeration value="Cr5Al8"/>
        <xsd:enumeration value="Cr5B3"/>
        <xsd:enumeration value="Cr7C3"/>
        <xsd:enumeration value="CrB"/>
        <xsd:enumeration value="CrSi2"/>
        <xsd:enumeration value="CsCI"/>
        <xsd:enumeration value="Cu"/>
        <xsd:enumeration value="Cu15Si4"/>
        <xsd:enumeration value="Cu2FeSnS4"/>
        <xsd:enumeration value="Cu2Mg (Laves)"/>
        <xsd:enumeration value="Cu2Sb"/>
        <xsd:enumeration value="Cu2Te"/>
        <xsd:enumeration value="Cu3P"/>
        <xsd:enumeration value="Cu3VS4 (sulvanite)"/>
        <xsd:enumeration value="Cu5Zn8 (gamma-brass)"/>
        <xsd:enumeration value="Cu9Al4 (gamma-brass)"/>
        <xsd:enumeration value="CuFe2S3 (cubanite)"/>
        <xsd:enumeration value="CuFeS2 (chalcopyrite)"/>
        <xsd:enumeration value="CuMg2"/>
        <xsd:enumeration value="CuO (tenorite)"/>
        <xsd:enumeration value="CuPt"/>
        <xsd:enumeration value="CuPt3"/>
        <xsd:enumeration value="CuS (rovelite)"/>
        <xsd:enumeration value="CuS2Sb (wolfsbergite)"/>
        <xsd:enumeration value="CuTi3"/>
        <xsd:enumeration value="Fe2N"/>
        <xsd:enumeration value="Fe2P"/>
        <xsd:enumeration value="Fe3C (cementite)"/>
        <xsd:enumeration value="Fe3Th7"/>
        <xsd:enumeration value="Fe3W3C (eta-carbide)"/>
        <xsd:enumeration value="Fe3Zn10 (gamma-brass)"/>
        <xsd:enumeration value="Fe4N"/>
        <xsd:enumeration value="Fe7W6 (mu-phase)"/>
        <xsd:enumeration value="Fe8N"/>
        <xsd:enumeration value="FeAsS"/>
        <xsd:enumeration value="FeB"/>
        <xsd:enumeration value="FeKS2"/>
        <xsd:enumeration value="FeS2 (marcasite)"/>
        <xsd:enumeration value="FeS2 (pyrite)"/>
        <xsd:enumeration value="FeSi"/>
        <xsd:enumeration value="Ga2Mg5"/>
        <xsd:enumeration value="Ge7Ir3"/>
        <xsd:enumeration value="GeS"/>
        <xsd:enumeration value="GeS2"/>
        <xsd:enumeration value="HgCl2"/>
        <xsd:enumeration value="HgS (cinnabar)"/>
        <xsd:enumeration value="HgSn6-10"/>
        <xsd:enumeration value="I2"/>
        <xsd:enumeration value="In"/>
        <xsd:enumeration value="InTh"/>
        <xsd:enumeration value="Ir3Si"/>
        <xsd:enumeration value="La2O3"/>
        <xsd:enumeration value="LiZn2"/>
        <xsd:enumeration value="Mg"/>
        <xsd:enumeration value="Mg2Ni"/>
        <xsd:enumeration value="Mg2Z11"/>
        <xsd:enumeration value="Mg32(Al,Zn)49"/>
        <xsd:enumeration value="MgAgAs"/>
        <xsd:enumeration value="MgCuAl2"/>
        <xsd:enumeration value="MgNi2 (Laves)"/>
        <xsd:enumeration value="MgZn2 (Laves)"/>
        <xsd:enumeration value="Mn12Th"/>
        <xsd:enumeration value="Mn23Th6, Cu16Mg6Si7 (G-phase)"/>
        <xsd:enumeration value="Mn2O3"/>
        <xsd:enumeration value="Mn3Al9Si"/>
        <xsd:enumeration value="Mn4B"/>
        <xsd:enumeration value="Mn5Si3"/>
        <xsd:enumeration value="MnP"/>
        <xsd:enumeration value="MnU6"/>
        <xsd:enumeration value="Mo2B5"/>
        <xsd:enumeration value="MoB"/>
        <xsd:enumeration value="MoNi4"/>
        <xsd:enumeration value="MoS2"/>
        <xsd:enumeration value="MoSi2"/>
        <xsd:enumeration value="Na3As"/>
        <xsd:enumeration value="NaCI (rocksalt)"/>
        <xsd:enumeration value="NaCrS2"/>
        <xsd:enumeration value="NaTl"/>
        <xsd:enumeration value="NaZn13"/>
        <xsd:enumeration value="Ni17Th2"/>
        <xsd:enumeration value="Ni2Al3"/>
        <xsd:enumeration value="Ni2In"/>
        <xsd:enumeration value="Ni3P"/>
        <xsd:enumeration value="Ni3S2"/>
        <xsd:enumeration value="Ni3Sn"/>
        <xsd:enumeration value="Ni3Ti"/>
        <xsd:enumeration value="NiAs"/>
        <xsd:enumeration value="NiS (millerite)"/>
        <xsd:enumeration value="NiSbS (ullmanite)"/>
        <xsd:enumeration value="P (black)"/>
        <xsd:enumeration value="Pb4Pt"/>
        <xsd:enumeration value="PbFCl"/>
        <xsd:enumeration value="PbO"/>
        <xsd:enumeration value="PdS"/>
        <xsd:enumeration value="PdSn2"/>
        <xsd:enumeration value="PdSn4"/>
        <xsd:enumeration value="Pt2Sn3"/>
        <xsd:enumeration value="PtS (cooperite)"/>
        <xsd:enumeration value="Pu2C3"/>
        <xsd:enumeration value="ReO3"/>
        <xsd:enumeration value="Sb2O3 (senarmontite)"/>
        <xsd:enumeration value="Sb2O3 (valentinite)"/>
        <xsd:enumeration value="Sb2S3"/>
        <xsd:enumeration value="Sb2Tl7"/>
        <xsd:enumeration value="Si2U3"/>
        <xsd:enumeration value="SiO2 (beta cristobalite)"/>
        <xsd:enumeration value="SiO2 (beta tridymite)"/>
        <xsd:enumeration value="SiO2 (high quartz)"/>
        <xsd:enumeration value="SiS2"/>
        <xsd:enumeration value="SiU3"/>
        <xsd:enumeration value="SnS"/>
        <xsd:enumeration value="Ta3B4"/>
        <xsd:enumeration value="Th3P4"/>
        <xsd:enumeration value="Th7S12"/>
        <xsd:enumeration value="ThC2"/>
        <xsd:enumeration value="ThH2"/>
        <xsd:enumeration value="ThSi2"/>
        <xsd:enumeration value="TiAs"/>
        <xsd:enumeration value="TiB"/>
        <xsd:enumeration value="TiO2 (brookite)"/>
        <xsd:enumeration value="TiO2 (rutile)"/>
        <xsd:enumeration value="TiSi2"/>
        <xsd:enumeration value="TlSe"/>
        <xsd:enumeration value="UB12"/>
        <xsd:enumeration value="W"/>
        <xsd:enumeration value="W2B5"/>
        <xsd:enumeration value="W3Si3"/>
        <xsd:enumeration value="WC"/>
        <xsd:enumeration value="Zn3P2"/>
        <xsd:enumeration value="ZnS (sphalerite)"/>
        <xsd:enumeration value="ZnS (wurtzite)"/>
        <xsd:enumeration value="ZrO2"/>
        <xsd:enumeration value="ZrSi2"/>
        <xsd:enumeration value="alpha-Al2O3 (corundum)"/>
        <xsd:enumeration value="alpha-As"/>
        <xsd:enumeration value="alpha-Ga"/>
        <xsd:enumeration value="alpha-Hg"/>
        <xsd:enumeration value="alpha-La"/>
        <xsd:enumeration value="alpha-Mn (chi-phase)"/>
        <xsd:enumeration value="alpha-Np"/>
        <xsd:enumeration value="alpha-Pa"/>
        <xsd:enumeration value="alpha-Po"/>
        <xsd:enumeration value="alpha-S"/>
        <xsd:enumeration value="alpha-Se"/>
        <xsd:enumeration value="alpha-Sm"/>
        <xsd:enumeration value="alpha-U"/>
        <xsd:enumeration value="beta-Cu3Ti"/>
        <xsd:enumeration value="beta-Mn"/>
        <xsd:enumeration value="beta-Np"/>
        <xsd:enumeration value="beta-Po"/>
        <xsd:enumeration value="beta-Se"/>
        <xsd:enumeration value="beta-Sn"/>
        <xsd:enumeration value="beta-U"/>
        <xsd:enumeration value="delta-CuTi"/>
        <xsd:enumeration value="delta-Ni3Sn4"/>
        <xsd:enumeration value="eta-NiSi"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="magneticState">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Non-magnetic"/>
        <xsd:enumeration value="Paramagnetic"/>
        <xsd:enumeration value="Ferromagnetic"/>
        <xsd:enumeration value="Antiferromagnetic"/>
        <xsd:enumeration value="Complex magnetism"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="wyckoffSequence" type="xsd:string"/>
  <xsd:element name="atmosphere">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="vacuum"/>
        <xsd:enumeration value="air"/>
        <xsd:enumeration value="argon"/>
        <xsd:enumeration value="helium"/>
        <xsd:enumeration value="nitrogen"/>
        <xsd:enumeration value="Ar/H2"/>
        <xsd:enumeration value="Ar/He"/>
        <xsd:enumeration value="He/H2"/>
        <xsd:enumeration value="N2/H2"/>
        <xsd:enumeration value="water"/>
        <xsd:enumeration value="salts"/>
        <xsd:enumeration value="CO2"/>
        <xsd:enumeration value="hydrogen"/>
        <xsd:enumeration value="oil"/>
        <xsd:enumeration value="oxygen"/>
        <xsd:enumeration value="lead"/>
        <xsd:enumeration value="kerosene"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:complexType name="note-type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="title" type="xsd:string"/>
      <xsd:element minOccurs="0" name="date" type="xsd:date"/>
      <xsd:element minOccurs="0" name="text" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="InstrumentNote" type="note-type"/>
  <xsd:simpleType name="SpaceGroup">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="C2/c"/>
      <xsd:enumeration value="C2/m"/>
      <xsd:enumeration value="Cmca"/>
      <xsd:enumeration value="Cmcm"/>
      <xsd:enumeration value="Cmmc"/>
      <xsd:enumeration value="F-43m"/>
      <xsd:enumeration value="Fd-3m"/>
      <xsd:enumeration value="Fdd2"/>
      <xsd:enumeration value="Fddd"/>
      <xsd:enumeration value="Fm-3c"/>
      <xsd:enumeration value="Fm-3m"/>
      <xsd:enumeration value="I-4"/>
      <xsd:enumeration value="I-42m"/>
      <xsd:enumeration value="I-43d"/>
      <xsd:enumeration value="I-43m"/>
      <xsd:enumeration value="I/mmm"/>
      <xsd:enumeration value="I213"/>
      <xsd:enumeration value="I4/m"/>
      <xsd:enumeration value="I4/man"/>
      <xsd:enumeration value="I4/mcm"/>
      <xsd:enumeration value="I4/mmm"/>
      <xsd:enumeration value="I41/amd"/>
      <xsd:enumeration value="Ia-3"/>
      <xsd:enumeration value="Ibam"/>
      <xsd:enumeration value="Im-3"/>
      <xsd:enumeration value="Im-3m"/>
      <xsd:enumeration value="Imam"/>
      <xsd:enumeration value="Imma"/>
      <xsd:enumeration value="Immm"/>
      <xsd:enumeration value="P-3"/>
      <xsd:enumeration value="P-3m1"/>
      <xsd:enumeration value="P-43m"/>
      <xsd:enumeration value="P-62m"/>
      <xsd:enumeration value="P-6m2"/>
      <xsd:enumeration value="P2/c"/>
      <xsd:enumeration value="P2/m"/>
      <xsd:enumeration value="P21/c"/>
      <xsd:enumeration value="P213"/>
      <xsd:enumeration value="P3121"/>
      <xsd:enumeration value="P4,32"/>
      <xsd:enumeration value="P4/mbm"/>
      <xsd:enumeration value="P4/mmm"/>
      <xsd:enumeration value="P4/mnc"/>
      <xsd:enumeration value="P4/nbm"/>
      <xsd:enumeration value="P4/nmm"/>
      <xsd:enumeration value="P42/m"/>
      <xsd:enumeration value="P42/mmc"/>
      <xsd:enumeration value="P42/mnm"/>
      <xsd:enumeration value="P42/nmc"/>
      <xsd:enumeration value="P42/nnm"/>
      <xsd:enumeration value="P421m"/>
      <xsd:enumeration value="P6,/mmc"/>
      <xsd:enumeration value="P6,mc"/>
      <xsd:enumeration value="P6-3mc"/>
      <xsd:enumeration value="P6/mmm"/>
      <xsd:enumeration value="P6222"/>
      <xsd:enumeration value="P63/m"/>
      <xsd:enumeration value="P63/mcm"/>
      <xsd:enumeration value="P63/mmc"/>
      <xsd:enumeration value="P63/mmm"/>
      <xsd:enumeration value="P63cm"/>
      <xsd:enumeration value="Pa3"/>
      <xsd:enumeration value="Pam1"/>
      <xsd:enumeration value="Pbca"/>
      <xsd:enumeration value="Pbcm"/>
      <xsd:enumeration value="Pbnm"/>
      <xsd:enumeration value="Pccn"/>
      <xsd:enumeration value="Pm-3"/>
      <xsd:enumeration value="Pm-3m"/>
      <xsd:enumeration value="Pm3n"/>
      <xsd:enumeration value="Pma2"/>
      <xsd:enumeration value="Pmcn"/>
      <xsd:enumeration value="Pmma"/>
      <xsd:enumeration value="Pmmn"/>
      <xsd:enumeration value="Pmnb"/>
      <xsd:enumeration value="Pn-3m"/>
      <xsd:enumeration value="Pnma"/>
      <xsd:enumeration value="Pnnm"/>
      <xsd:enumeration value="R-3"/>
      <xsd:enumeration value="R-3c"/>
      <xsd:enumeration value="R-3m"/>
      <xsd:enumeration value="R32"/>
      <xsd:enumeration value="l42d"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
